body {
    background-color: #9ee6ff !important;

}

.container {
    background-color: #9ee6ff !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;

}

.quizAnswerCard:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);

}